<div class="main" id="main">
    <div class="mainBlock">
        <div class="title">
            <h1>TITULO DEL PROYECTO EN GESTION </h1>
        </div>
        <div class="subTitle">
            <h2>Sub titulo del proyecto en gestion</h2>
            <div class="titleVideo">
                    <div>VER AHORA</div>
                    <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
    <div class="map">
        <div>VER MAPA DE DISTIBUCION DE TIERRA </div>
        <i class="fa-solid fa-map"></i>
    </div>


</div>